.cardholder{
 	display: flex;
 	flex-flow: row wrap; 
 	justify-content: space-between;
}
.card{
 	flex: 1 1 20%;
 	background-color: #FFFFFF;
 	display: block;
 	padding: 10px;
 	margin: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	min-width: 250px;
	max-width: 100%;
	overflow: hidden;
	
}
.card-hover{
	transition-property: box-shadow margin-left margin-right;
	transition-duration: 0.5s;
}
.card-hover:hover{
	box-shadow: 0 1px 25px rgba(0,0,0,.5),0 1px 5px rgba(0,0,0,.12);
	margin: 5px;
	z-index: 10000000;
}

.card .card-header{
	padding: 0px; 
	margin: 0px;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 100px;
	background-color: FF0000;
}
.card .card-body{
	position: relative;
	background-color: blue;
	height: 200%;
	top: 0px;
	padding: 10px 0px 0px 0px;
	left: 0;
	display: block;
	//overflow: hidden;	
}

.card .card-footer{
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: green;

}

.card-hover .card-body{
	transition-property: top;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

.card-hover:hover .card-body{
	top: -50px;
	height: auto;

}


